@page "/"

<PageTitle>Ben Eater's 8-bit Computer Emulator</PageTitle>

<h1>Ben Eater's 8-bit Computer Emulator</h1>

<p>The emulator's UI is in the works. Please check the <a href="compiler">compiler</a>.</p>
